<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mysite</title>
</head>

<body>
    <div>
        <h1>Personal blog website</h1>
    </div>
    <hr>
    {% for blog in blogs %}
    <a href="{% url 'blog_detail' blog.pk %}">
        <h3>{{ blog.title }}</h3>
    </a>
    <p>{{ blog.content|truncatechars:30 }}</p>
    {% empty %}
    <p>Please look forward!</p>
    {% endfor %}
    <p>{{ blogs|length }} blogs in total</p>
</body>

</html>