{% extends 'base.html' %}

{# blog title #}
{% block title %}
Mysite
{% endblock %}

{% block header_extends %}
<link rel="stylesheet" href="/static/css/blog.css">
{% endblock %}

{% block nav_blog_active %}
active
{% endblock %}

{# blog content #}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    {% block blog_list_title %}
                    Blog List(#{{ page_of_blogs.paginator.count }})
                    {% endblock %}
                </div>
                <div class="card-body">
                    {% for blog in blogs %}
                    <div class="blog">
                        <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }} </a></h3>
                        <p class="blog-info">
                            <i class="fas fa-tag mr-1"></i> <a class="mr-3"
                                href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{blog.blog_type}}</a>
                            <i class="fas fa-clock mr-1"></i>{{blog.created_time|date:'m/d/Y'}}
                        </p>
                        <p>{{ blog.content|truncatechars:120 }}</p>
                    </div>
                    {% empty %}
                    <div class="blog">
                        <h3>-- No blogs. Please look forward! --</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pt-3">
                <ul class="pagination justify-content-center">
                    {# Previous page #}
                    {% if page_of_blogs.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_of_blogs.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                    {% endif %}

                    {# All pages #}
                    {% for page_num in page_range %}
                        {% if page_num == page_of_blogs.number %}
                        <li class="page-item active">
                            <span class="page-link">{{page_num}}</span class="page-link">
                        </li>
                        {% else %}
                            {% if page_num == '...' %}
                            <li class="page-item">
                                <span class="page-link">{{page_num}}</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{page_num}}</a>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {# Next page #}
                    {% if page_of_blogs.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_of_blogs.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_of_blogs.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <div class="d-none d-sm-block col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h4>Blog Catalogue</h4>
                </div>
                <div class="card-body">
                    <ul class="m-0 p-0 blog-type">
                        {% for blog_type in blog_types %}
                        <li>
                            <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                            </a>
                        </li>
                        {% empty %}
                        <li>No catalogue</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header"><h4>Date Archive</h4></div>
                <div class="card-body">
                    <ul class="p-0">
                        {% for blog_date, blog_count in blog_dates.items %}
                        <li>
                        <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                            {{ blog_date|date:'m/Y' }} ({{ blog_count }})
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}